#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
  width: auto;
  height: 50px;
  background-color: black;
}

.logo {
  border: 1px solid white;
}

.logo span {
  color: white;
}

nav {
  border: 1px solid yellow;

}

a {
  color: white;
}
