body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  margin-left: 0px;
}

/* Header Section */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: 0.9;
  padding-left: 10px;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 69px;
}

.logo img {
  width: 150px;
  height: 50px
}

nav {
  margin-right: 10px;
}

a {
  text-decoration: underline;
  padding-right: 10px;
}

a:link {
  color: seashell;
}

/* Landing Page Section */
#jumbotron {
  display: flex;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: 1200px;
}

.ribbon {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.mission {
  height: 100px;
}

.mission h2,
.mission h4 {
  text-align: center;
  margin: 10px;
}

/* Tea of Month */
#tea-of-month {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

#tea-of-month img {
 width: 300px;
 height: 200px;
}

#tea-of-month span {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.one {
  display: flex;
  flex-direction: column;
}

.one h2,
.one span {
  text-align: center;
  margin-bottom: 0px;
}

.two,
.three {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-top: 10px;
}

.tea-of-month-one,
.tea-of-month-two,
.tea-of-month-three,
.tea-of-month-four,
.tea-of-month-five{
 display: flex;
 flex-direction: column;
}

/* Locations Section */

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-position: center;
  height: 600px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#locations h2 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0px;
}

#locations h4 {
  font-weight: normal;
}

.location-details {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.downtown,
.east-bayside,
.oakdale {
  text-align: center;
  width: 300px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}

#footer {
  height: 200px;
  width: auto;
}
#footer h2, h5 {
  text-align: center;
}

.copyright h5 {
  text-align: left;
  margin-left: 10px;
}
